.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.title-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.2);
}

.image-container:hover .title-container {
  opacity: 1;
}

img {
  transition: transform 0.3s ease-in-out;
}
